version: 2
jobs: 
  one:
    docker:
      - image: circleci/node:4.8.2
    steps:
      - checkout
      - run: echo "A first hello"
  two:
    docker: 
      - image: circleci/node:4.8.2
    steps:
      - checkout
      - run: echo "a more familiar hello"

# workflow:
#   version: 2
